.App {
  text-align: center;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

.html::-webkit-scrollbar {
  display: none;
}

.html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #DADADA;
}

@font-face {
  font-family: 'RetroGaming';
  src: url('assets/fonts/retro_gaming.ttf') format('truetype');
}

.background-gif {
  height: calc(100vh - 60px);
  background: url('./assets/img/pixel_signup.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background-redirect {
  height: calc(100vh - 60px);
  background: #202225;
  background-size: cover;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background-home {
  height: calc(100vh - 60px);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #3a3f4a;
  background-size: cover;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.col {
  padding: 0;
  margin: 0;
}

.form-background {
  background-color: #3a3f4a;
  color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  text-align: start;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  border: none;
}

.form-background .form-control {
  background-color: #282c34;
  color: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  border: none;
  resize: none;
  box-shadow: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.form-background .form-label {
  color: #FFFFFF;
  font-weight: bold;
}

.form-sub-label {
  font-weight: 275;
  color: #BEBEBE;
  font-size: 19px;
}

.form-background .form-control::placeholder {
  color: #A9A9A9;
}

.form-background .btn-primary {
  background-color: #5c6bc0;
  border-color: #5c6bc0;
  box-shadow: 0 4px 8px 0 rgba(92, 107, 192, 0.4);
  color: #fff;
  border-radius: 3px;
}

.form-background .btn-secondary {
  border-radius: 3px;
}

.form-background .btn-primary:hover {
  background-color: #7986cb;
  border-color: #7986cb;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 0.5rem;
}

.form-section {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.form-section-active {
  opacity: 1;
  height: auto;
  transition: opacity 0.35s ease-in, height 0s 0.35s;
}

.toggle-form-view {
  display: block;
  width: 100%;
  padding: 10px 0;
  color: lightgray;
  text-align: center;
  background-color: rgba(40, 44, 52, 0.95);
  border-radius: 0;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 60px;
  text-decoration: none;
}

.custom-checkbox-container {
  display: inline-block;
  margin-right: 0.5rem;
}

.custom-checkbox {
  margin: 0.5rem;
  border-radius: 5px;
  transition: transform 0.3s;
  display: inline-block;
  overflow: hidden;
  background-color: #282c34;
}

.custom-checkbox-input {
  opacity: 0;
  position: absolute;
}

.custom-checkbox-input-checkers {
  opacity: 0;
  position: absolute;
  color: white;
}

.custom-checkbox-label {
  user-select: none;
  transition: 0.15s;
}

.custom-checkbox-input:checked + .custom-checkbox-label,
.custom-checkbox-label.checked {
  color: #ff1744;
  transform: scale(1.05);
}

.custom-checkbox:hover .custom-checkbox-label {
  color: #ff1744;
  transform: scale(1.05);
}

.custom-checkbox:hover {
  transform: scale(1.075);
  color: #ff1744;
}

.custom-textarea {
  transition: background-color 0.3s ease;
  max-height: 200px;
}

.custom-textarea:hover,
.custom-textarea:focus{
  background-color: #212429;
}

.custom-input {
  transition: background-color 0.3s ease;
  padding: 0.75rem;
}

.custom-input:hover,
.custom-input:focus{
  background-color: #212429;
}

.custom-popup {
  background-color: transparent !important;
}

.custom-popup .custom-popup-content {
  background-color: #282c34;
}

.popup-content {
  margin: auto;
  background: transparent;
  width: 50%;
  padding: 5px;
}

.popup-content{
  margin:auto;
  width:50%;
  padding:5px;
}

.custom-popup {
  backdrop-filter: blur(5px);
  width: 200px;
  border-radius: 5px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  text-align: center;
}

[data-popup=tooltip].popup-overlay {
  background: transparent;
}

.popup-arrow {
  -webkit-filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0 -3px 3px rgba(0, 0, 0, 0.16));
  color: #fff;
  stroke-width: 2px;
  stroke: #d7d7d7;
  stroke-dasharray: 30px;
  stroke-dashoffset: -54px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
