.navbar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    font-size: 14px;
    position: relative;
}

.navbar-left, .navbar-right {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.navbar-brand {
    margin-left: 8px;
    font-weight: 600;
    font-family: "RetroGaming", sans-serif;
    transition: color 0.3s ease;
    color: #373c41;
}

.navbar-menu, .navbar-item {
    display: flex;
    align-items: center;
}

.navbar-item {
    position: relative;
    padding: 0 16px;
    background: none;
}

.navbar-icon {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon-description {
    visibility: hidden;
    width: 120px;
    background-color: #36393E;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    margin-top: 8px;
}

.navbar-item:hover .icon-description {
    visibility: visible;
    opacity: 1;
}

.navbar-item:hover .navbar-icon {
    transform: scale(1.2);
    color: #36393E;
}

.dashboard-icon-active {
    color: #36393E;
}