.messagingMenu {
    display: flex;
    height: calc(100vh - 60px);
}

.conversationList {
    width: 20%;
    overflow-y: auto;
    box-shadow: 8px 0 8px -2px rgba(0, 0, 0, 0.1);
    background: #2c2f33;
}

.ul {
    list-style-type: none;
    padding: 0;
}

.conversationContent {
    width: 80%;
    display: flex;
    flex-direction: column;
    background: #36393E;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
}

.messageInput {
    margin-top: auto;
}

.conversation-row {
    padding: 8px 16px;
    max-width: 100%;
    word-break: break-word;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #A9A9A9;
    text-align: start;
}

.messageRow {
    display: flex;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: lightgray;
    align-items: stretch;
    width: auto;
}

.profileIcon {
    flex: 0 0 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #A9A9A9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.messageDetailsContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
}

.messageDetails {
    display: flex;
    align-items: center;
    width: 100%;
}

.username {
    font-weight: 600;
    color: #F2F3F5;
    margin-right: 10px;
}

.date {
    color: #949BA4;
    height: 24px;
}

.messageContent {
    display: flex;
    white-space: pre-line;
    color: #DBDEE1;
    width: 100%;
    text-align: left;
}

.messageDateLabel {
    font-size: 0.75rem;
    color: #949BA4;
    text-align: center;
    font-weight: 600;
    position: relative;
    margin: 0 50px 0 50px;
}

.messageDateLabel::before,
.messageDateLabel::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 45%;
    height: 1px;
    background-color: #59626a;
}

.messageDateLabel::before {
    left: 0;
}

.messageDateLabel::after {
    right: 0;
}

