.messagingMenu {
    display: flex;
    height: calc(100vh - 60px);
}

.conversationList {
    width: 20%;
    overflow-y: auto;
    box-shadow: 8px 0 8px -2px rgba(0, 0, 0, 0.1); /* Adjusted for a more right-focused shadow */
    background: #2c2f33;
}

.ul {
    list-style-type: none;
    padding: 0;
}

.conversationContent {
    width: 80%;
    display: flex;
    flex-direction: column;
    background: #36393E;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
}

.messageInput {
    margin-top: auto;
}

.conversation-row {
    padding: 8px 16px;
    max-width: 100%;
    word-break: break-word;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #A9A9A9;
    text-align: start;
}

